@media screen and (min-width: 1200px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }
    /* Header */
    header {
        padding: 0;
        border-bottom: 1px solid var(--grayish-blue);
        margin-bottom: 2rem;
    }

    header .menu-btn {
        display: none;
    }
    nav {
        position: unset;
        height: unset;
    }
    nav .slide-menu {
        display: block;
        position: unset;
        height: unset;
        width: unset;
    }

    nav .slide-menu img {
        display: none;
    }
    nav .slide-menu ul {
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        margin: 0;
    }
    nav .slide-menu ul li {
        margin: 0;
    }
    nav .slide-menu ul li a {
        font-weight: 400;
        font-size: 15px;
        color: var(--grayish-blue);
        padding: 2.2rem 0;
        border-bottom: 3px solid transparent;
        
    }
    nav .slide-menu ul li a:hover {
        color: var(--very-dark-blue);
        font-weight: 700;
        border-bottom: 3px solid var(--primary-orange);
    }

    .avatar-cart-group {
        gap: 30px;
    }
    .avatar-cart-group .avatar img {
        width: 2.5rem;
    }
    .cart {
        width: 380px;
        left: unset;
        right: 8rem;
    }

    /* End of Header */

    /* Section Image Slider */
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        padding: 2rem 4rem;
    }
    .img-slider {
        width: 100%;
    }
    .img-slider img.image-active {
        min-height: 300px;
        max-height: 520px;
        border-radius: 12px;
        cursor: pointer;
    }

    .previous, .next {
        display: none;
    }

    .image-gallery {
        display: flex;
        margin-top: 1.4rem;
        justify-content: space-between;
    }
    .gallery-item {
        display: flex;
        width: 18%;
        height: fit-content;
        overflow: hidden;
        border-radius: 8px;
        border: 3px solid transparent;
        cursor: pointer;
    }
    .gallery-item img {
        /* z-index: 5; */
    }
    .gallery-item img:hover {
        opacity: 65%;
    }
    .gallery-item.slide-active  {
        border: 3px solid var(--primary-orange);
    }
    .gallery-item.slide-active img {
        opacity: 0.35;
    }
    .image-gallery .gallery-item img {
        width: 100%;
        object-fit: cover;
    }
    /* End of Section Image Slider */

    /* Section Product Info */

    .product-info {
        width: 100%;
        height: 100%;
    }
    .text-info .p-name {
        font-size: 35px;
        margin-bottom: 2rem;
    }
    .price-info {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .sp {
        font-size: 30px;
    }
    .mp {
        margin-left: unset;
        margin-top: 10px;
    }
    .product-btn-group {
        flex-direction: row;
        justify-content: space-between;
    }
    .inventory {
        width: 40%;
        gap: 10px;
        padding: 5px;
    }
    .addToCart {
        width: 100%;
    }
    .addToCart:hover{
        opacity: 55%;
    }

    /* End of Section Product Info */

    /* Overlay for Slider Image */
    .overlay {
        background: var(--clr-black);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hidden {
        display: none;
    }

    .overlay .close {
        width: 30%;
        text-align: end;
    }
    .overlay .close img {
        width: 20px;
        filter: brightness(300%);
        margin-bottom: 15px;
        cursor: pointer;
    }
    .overlay .close img:hover {
        animation: rotate 1.5s;
    }
    .overlay .img-slider {
        width: 30%;
    }

    .overlay .img-slider img.image-active {
        position: relative;
    }

    .overlay .previous, 
    .overlay .next {
        display: flex;
        position: absolute;
        transform: unset;
        top: 35%;
    }
    .overlay .previous {
        left: -15px;
    }
    .overlay .next {
        right: -15px;
    }

    .overlay .gallery-item.slide-active img {
        filter: contrast(50%);
        opacity: 1;
    }
    .overlay .gallery-item img:hover {
        opacity: unset;
        filter: contrast(70%);
    }
}