@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* 
    font-family: 'Kumbh Sans', sans-serif;
*/

:root {
    --primary-orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-vark-Blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.padd {
    padding: 0 7rem;
}
.mob-padd {
    padding: 0 1rem;
}
/* Header */

header {
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.menu-brand-group {
    border: 1px solid magenta;
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar-cart-group {
    border: 1px solid purple;
    display: flex;
    align-items: center;
    gap: 15px;
}
.avatar-cart-group .avatar img {
    width: 2rem;
    border: 2px solid transparent;
    cursor: pointer;
}
.avatar-cart-group .avatar img:hover {
    border-radius: 50%;
    border: 2px solid var(--primary-orange);
}