@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --primary-orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-Blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%, 0.75); //(with 75% opacity for lightbox background)

    /* Font Size */
    --fs-sm: 12px;
    --fs-def: 16px;
    --fs-lg: 20px;
    --fs-xl: 24px;
    --fs-2xl: 28px;
    --fs-3xl: 32px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.padd {
    padding: 0 7rem;
}
.mob-padd {
    padding: 0 1rem;
}
.hidden {
    display: none;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.menu-brand-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu-btn {
    cursor: pointer;
}

nav.menuOpen {
    background-color: var(--clr-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 2;
}

nav .slide-menu {
    display: none;
    position: absolute;
    top: 0;
    background-color: var(--clr-white);
    height: 100%;
    width: 50vw;
    padding: 2.3rem;
}

@keyframes slide-in {
    0% {
        left: -270px;
        opacity: 0%;
    }
    100% {
        left: 0;
        opacity: 100%;
    }
}

@keyframes slide-out {
    0% {
        left: 0;
        opacity: 100%;
    }
    100% {
        left: -270px;
        opacity: 0%;
    }
}

nav .slide-menu.open {
    left: 0;
    display: block;
}
nav .slide-menu img {
    cursor: pointer;
}
nav .slide-menu img:hover {
   animation: rotate 1.5s;
} 
@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
nav .slide-menu ul {
    list-style: none;
    margin-top: 3rem;
}
nav .slide-menu ul li {
    margin-top: 1.7rem;
}
nav .slide-menu ul li a {
    text-decoration: none;
    color: var(--very-dark-Blue);
    font-weight: 700;
    font-size: 17px;
}

.avatar-cart-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
.avatar-cart-group .cart-btn {
    position: relative;
    cursor: pointer;
}
.avatar-cart-group .cart-btn img:hover {
    filter: brightness(10%);
    transition: all .2s ease-in-out;
}
.avatar-cart-group .cart-btn .cart-count {
    background-color: var(--primary-orange);
    text-align: center;
    color: var(--clr-white);
    font-weight: 700;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 25px;
    position: absolute;
    top: -6px;
    right: -8px;
}

.avatar-cart-group .avatar img {
    width: 1.7rem;
    border: 2px solid transparent;
    cursor: pointer;
}
.avatar-cart-group .avatar img:hover {
    border-radius: 50%;
    border: 2px solid var(--primary-orange);
}

.cart {
    border-radius: 11px;
    z-index: 1;
    width: auto;
    display: none;
    height: 100%;
    max-height: 240px;
    background-color: var(--clr-white);

    box-shadow: 1px 13px 41px -20px rgba(0,0,0,0.7);
    /* -webkit-box-shadow: 1px 13px 41px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 13px 41px -10px rgba(0,0,0,0.7); */

    position: absolute;
    top: 5rem;
    left: 8px;
    right: 8px;
}
.cart-open {
    display: block;
}
@keyframes showCart {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes hideCart {
    0% {
       opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.cart-header {
    padding: 20px;
    font-weight: 700;
    border-bottom: 1px solid var(--grayish-blue);
}
.cart-body {
    max-height: 120px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-in-cart {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}
.cart-empty{
    display: none;
}
.cart-items {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart-items .cart-item-img .inCart-img {
    border-radius: 5px;
    width: 50px;
}
.cart-items .cart-item-info {
    line-height: 1.5;
}
.cart-item-info p{
    color: var(--dark-grayish-blue);
}
.cart-item-info span#final-price {
    font-weight: 700;
    color: black;
}
.cart-items .cart-item-remove {
    margin-left: auto;
    cursor: pointer;
    transition: transform .2s;
}
.cart-items .cart-item-remove:hover {
    transform: scale(1.5);
}
.inCart-btn {
    background-color: var(--primary-orange);
    color: var(--clr-white);
    justify-content: center;
    padding: 15px;
    cursor: pointer;
}
.cart-msg {
    color: var(--dark-grayish-blue);
    font-weight: 700;
}

/* End of Header */

/* Section Image Slider */
.img-slider {
    position: relative;
}
.img-slider > .image-active {
    width: 100%;
    max-height: 280px;
}
.next {
    right: 4%;
    transition: all .2s ease-in;
}
.next:hover {
    right: 3%;
}
.previous {
    left: 4%;
    transition: all .2s ease-in;
}
.previous:hover {
    left: 3%;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--clr-white);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* End of Section Image Slider */

/* Product Info */
.product-info {
    padding: 12px;
}
.text-info .company {
    color: var(--primary-orange);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: .1ch;
}
.text-info .p-name {
    font-size: var(--fs-2xl);
    font-weight: 700;
    color: var(--very-dark-Blue);
    margin-top: .7rem;
    margin-bottom: 1rem;
}
.text-info .p-desc {
    color: var(--dark-grayish-blue);
}
.price-info{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.sp {
    font-weight: 700;
    font-size: var(--fs-2xl);
    color: var(--very-dark-Blue);
}
.discount {
    background-color: var(--pale-orange);
    color: var(--primary-orange);
    font-weight: 700;
    font-size: var(--fs-def);
    padding: 4px 8px;
    border-radius: 7px;
}
.mp {
    color: var(--grayish-blue);
    font-weight: 700;
    text-decoration: line-through;
    margin-left: auto;
}
.product-btn-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 15px;
}
.inventory {
    background: var(--light-grayish-blue);
    justify-content: space-between;
    padding: 0 20px;
}
.inventory-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 14px;
}
.addToCart {
    background-color: var(--primary-orange);
    color: var(--clr-white);
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 20px 45px -14px rgba(255,125,26,0.9);
    -moz-box-shadow: 0px 20px 45px -14px rgba(255,125,26,0.9);
    box-shadow: 0px 20px 45px -14px rgba(255,125,26,0.9);
}
.addToCart img {
    filter: brightness(300%);
}
.btn {
    display: flex;
    align-items: center;
    width: auto;
    border-radius: 8px;
    font-weight: 700;
}
/* End of Product Info */